.about-page-container {
  gap: 1.5rem;
}

.about-container {
    padding: 4rem 0 2rem 0;
    gap: 20px;
    align-self: center;
  }

  .ourstory-heading {
    background: #EFEFFB;
    padding: 0.5rem 0;
  }
  
  .about-container .about-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 88px;
  }
  
  .about-container .about-subtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
  
  .about-button {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      border-radius: 8px;
      display: flex;
  padding: 16px 40px;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  }

  .story-image img {
   max-width: 100%;
  }

  .about-content {
    padding: 0 2% 3rem 2%;
  }

  .our-story-container {
    padding: 0.5rem;
  }

  .story-text {
    line-height: 32px;
    color: #DED5F8;
  }

  /* 8183947740
  de famous moni point */
  .about-banner-bg {
    background: url('../../assets/bg-3.png') no-repeat center center;
    background-size: 100%;
    /* background-size: cover; */
    background-position: center center;
    background-color: #34204D;
  }
  
  @media (max-width: 768px) {
    .about-container .about-title {
      color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; 
    }
  
    .about-container .about-subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 1rem;
  padding: 0 10px;
    }

    .ourstory-heading {
      font-size: 20px;
    }

    .about-content > :nth-child(2) .story-image {
      margin-top: 1.5rem;
    }
  }