.faq-container {
  padding: 2rem 0;
  gap: 1rem;
  background-image: url('../../assets/product-blur.png') no-repeat;
  background-size: contain;
  background-position: center center;
}


.faq-header {
  font-size: 40px;
  font-weight: 600;
  line-height: 32px;
}

.faq-banner {
background-color: linear-gradient(130deg, rgba(121, 117, 182, 0.30) 6.43%, rgba(98, 199, 238, 0.30) 98.28%);
/* filter: blur(60px); */
/* background: url('../../assets/gradient-banner.svg') no-repeat center center; */
gap: 1.5rem;
padding: 3rem 10px;
}

.faq-search {
  margin-top: 20px;
  color: #47586e;
  font-size: 14px;
  width: 50%;
  align-self: center;
  padding: 10px 0 10px 10px;
  border-radius: 8px;
  border: 1px solid #3a354180;
}

.faq-search input {
  border: none;
  padding: 0.5rem 10px;
}

.faq-banner-text {
  font-size: 64px;
font-weight: 700;
line-height: 88px; /* 137.5% */
}

.faq-banner .faq-banner-subtext {
font-size: 16px;
line-height: 24px;
}

.FAQ {
    color: #1d242d;
    font-size: 24px;
    line-height: 32px;
  }
  
  .selected-topic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
    margin: 20px 0 30px 0;
  }
  
  .selected-topic img {
    width: 30px;
    height: 30px;
  }
  
  .selected-topic .category {
    color: #1d242d;
  }
  
  .selected-topic .text {
    color: #47586e;
    font-size: 14px;
  }

  .answer-content {
    line-height: 28px;
    padding: 1rem;
  }
  
  .faq-answer {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    transition: opacity 0.5s ease, transform 0.5s;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .faq-question .question {
    margin-bottom: 10px;
    color: #424246;
font-size: 18px;
font-weight: 600;
line-height: 24px; 
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    border-bottom: 1px solid#3A354180;
    justify-content: space-between;
  }

  .faq-content-items {
    padding: 0 3%;
  }
  
  .faq-question button {
    background: transparent;
  }
  
  .faq-item {
    transition: max-height 0.5s ease, margin 0.5s ease;
  }
  
  .faq-item.open {
    max-height: 1000px;
    margin-bottom: 10px;
  }

  .faq-item.open .faq-question {
    border: 0;
  }
  
  .faq-item.open .faq-answer {
    opacity: 1;
    transform: scaleY(1);
    border-radius: 8px;
background: #F7F3FD;
  }

  .faq-topics {
    border-bottom: 1px solid #C8C6C6;
    width: 93%;
    align-self: center;
  }

  .faq-topics button {
    background: transparent;
    color: #C8C6C6;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
  }

  .faq-topics .active {
    color: #34204D;
    border-bottom: 2px solid #34204D;
  }

  .faq-subtitle {
    color: #424246;
    align-self: center;
font-size: 16px;
width: 50%;
font-weight: 400;
line-height: 24px; 
  }

  .faq-heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }

  .faq-container .view-all {
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
padding: 10px;
border-radius: 8px;
padding: 16px 40px;
  }

  .view-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px){
    .support-search {
      width: 100%;
    }
    .support-categories {
      flex-direction: column;
      gap: 20px;
    }
    .support-category {
      width: 100%;
    }
    .support-contact {
      width: 100%;
    }
    .selected-topic {
      width: 100%;
    }

    .faq-container {
        padding: 1rem;
    }

    .faq-topics {
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        font-size: 12px!important;
        border-bottom: none;
    }

    .faq-banner-text {
      font-size: 24px;
font-weight: 700;
line-height: 28px;
    }

    .faq-banner-subtext {
      font-size: 14px;
    }

    .faq-search {
      min-width: 100%;
    }

    .faq-content-items, .faq-topics {
      padding: 0;
    }

    .faq-topics button {
        background: transparent;
    color: #424246;
font-size: 12px;
border: 1px solid #C8C6C6;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
font-weight: 500;
line-height: 24px;
      }
    
      .faq-topics .active {
        color: #fff;
        background: #34204D;
      }

      .faq-heading {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
      }

      .faq-subtitle {
        min-width: 90%;
      }
  }