.future-container {
  margin-bottom: 2rem;
  padding: 2rem 0;
  gap: 20px;
  width: 95%;
  align-self: center;
}

.future-container .future-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.future-container .future-subtitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.future-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    display: flex;
padding: 16px 40px;
align-self: center;
justify-content: center;
align-items: center;
width: fit-content;
}

@media (max-width: 768px) {
  .future-container .future-title {
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 24px; 
  }

  .future-container .future-subtitle {
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding: 0 10px;
  }
}