.cookie-container {
  padding: 20px 2%;
  background: #fff;
  position: fixed;
  max-width: 100%;
  left: 0;
  z-index: 1;
  bottom: 0;
}

.close-cookie {
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.cookie-title {
  font-size: 32px;
  line-height: normal;
}

.cookie-text {
    font-size: 16px;
    line-height: 28px;
}

.accept-cookie {
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
}

.reject-cookie {
    background: transparent;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 16px;
    margin-right: 8rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
 .cookie-buttons {
    justify-content: center;
    gap: 10px;
  }

  .reject-cookie {
    margin-right: 4.5rem;
  }

  .cookie-title {
    font-size: 24px;
    line-height: 28px;
  }

  .cookie-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }

  .cookie-container {
    padding: 10px 0;
  }

  .cookie-image img{
    width: 20px;
    margin-left: 10px;
  }

  .close-cookie {
    margin-right: 10px;
  }

  .cookie-buttons button {
    padding: 10px 20px;
  }
}