.product-display > :nth-child(2) {
  flex-direction: row-reverse;
  padding: 1rem 2% 1rem 0;
}

.product-display > :nth-child(1) {
    padding: 1rem 0rem 1rem 2%;
  }

  .product-display > :last-child {
    padding: 1rem 0rem 1rem 2%;
  }

  .product-container {
    padding: 0 0 2rem 0;
  }

  .estate-software-title {
    line-height: 28px;
    text-transform: uppercase;
  }

  .estate-software-text {
    line-height: 32px;
  }

  .estate-mgt-product {
font-size: 16px;
line-height: 20px; /* 125% */
text-transform: uppercase;
  }

  .estate-mg-product-desc {
    line-height: 25px;
  }

  .career-items {
    border: 1px solid #34204D;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }

  .career-img img {
    max-width: 60%;
    height: 400px;
  }

  .career-items-div > :nth-child(2),  .career-items-div > :nth-child(4){
    margin-left: 1rem;
  }

  .vendor-content-page > :nth-child(2),  .vendor-content-page > :nth-child(4){
    margin-left: 1rem;
  }


  @media (max-width: 768px) {

    .vendor-content-page > :nth-child(2),  .vendor-content-page > :nth-child(4){
      margin-left: 0;
    }

    .career-img {
      justify-content: center!important;
      align-items: center!important;
    }

    .career-header-description {
      text-align: center;
    }

    .career-img img {
      max-width: 100%;
      width: 250px;
    }
  
    .product-display {
      padding: 0 2%;
    }
    .product-display > :nth-child(2) {
      flex-direction: column;
      padding: 1rem 0 0 0;
    }

    .product-display > :nth-child(1) {
      padding: 1rem 0 0 0;
    }

    .estate-software-title {
      font-size: 20px;
      line-height: 24px;
    }

    .estate-software-text {
      font-size: 14px;
      line-height: 20px;
    }

    .estate-mgt-product {
      font-size: 14px;
      line-height: 20px;
    }

    .estate-mg-product-desc {
      font-size: 14px;
      line-height: 20px;
    }
  }
