
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

select {
  cursor: pointer;
  outline: none;
  border: none;
}

select:focus, input:focus {
  outline: none;
}

.plain-background {
  background: #F8F8FC;
}

.plain-color {
  color: #F8F8FC;
}

.dark-background {
  background: #1D242D;
}

.dark-color {
  color: #1D242D;
}

.violet-color {
  color: #34204D;
}

.violet-background {
  background-color: #34204D;
}

.rosario-font {
  font-family: 'Rosario', sans-serif!important;
}

.sora-font {
  font-family: 'Sora', sans-serif!important;
}

.text-white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}

.justify-content-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flexgrow-1 {
  flex-grow: 1;
}

.no-wrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fw-bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.dark-color {
  color: #424246;
}

.font-size-24 {
  font-size: 24px;
  line-height: 28px;
}

.bg-transparent {
  background: transparent;
}

.full-width {
  width: 100%;
}

/* Define a custom row class */
.custom-row {
  display: flex;
  flex-wrap: wrap;
}

/* Define a custom column class for medium-sized screens (col-md-6) */
.custom-col-md-6 {
  flex: 0 0 50%;
  max-width: 46%;
}

a {
  text-decoration: none;
}

.secondary-text {
  color: #3D4C5E;
}

.font-size-12 {
  font-size: 12px;
  line-height: 16px;
}

.font-size-14 {
  font-size: 14px;
}
/* Define a custom column class for medium-sized screens (col-md-4) */
.custom-col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 30.33333%;
}

/* Define a custom column class for all screen sizes (col-3) */
.custom-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.border-danger {
  border: 1px solid #FF0000;
}

.font-size-20 {
  font-size: 20px;
  line-height: 32px;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .custom-col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .custom-col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
