.apply-now-button {
    display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 2px solid #34204D;
}

.job-share {
  display: flex;
  gap: 5px;
padding: 16px 40px;
justify-content: center;
align-items: center;
font-weight: 500;
}

.job-details {
    font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
border-radius: 4px;
border: 1px solid #34204D;
padding: 5px;
gap: 3px;
}

.job-details-title {
  font-size: 40px;
  line-height: 48px;
  color: #000;
}

.job-description {
  width: 75%;
}

.job-personnel {
    color: #3D4C5E;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.job-responsibilities {
  margin-left: 15px;
}

.job-responsibilities li {
    color: #3D4C5E;
font-size: 16px;
font-weight: 400;
line-height: 32px;
}

.job-details-container {
  padding: 2rem 3%;
}

.job-details-title {
  font-size: 24px;
}

@media (max-width: 768px) {
  .job-title-details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .share-job-details {
   display: flex;
   flex-direction: row-reverse;
   justify-content: start;
    align-items: center;
    gap: 3px;
    font-weight: 500;
  }

  .share-job-details .apply-now-button {
    border-radius: 8px;
background:  #34204D;
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
color: #fff;
  }

  .share-job-details .job-share {
    border-radius: 8px;
display: flex;

padding: 8px 16px;
justify-content: center;
align-items: center;
color: #34204D;
  }

  .job-description {
    width: 100%;
  }

  .job-description .job-personnel {
    font-size: 18px;
  }

  .job-description .job-responsibilities li {
    font-size: 18px;
  }
}