
.terms-and {
  background: url('../../assets/header-gradient.png') no-repeat;
  background-size: cover;
  /* background-color: #34204D!important; */
  background-color: #1D0B32;
  padding: 3rem 0;
}

.terms-and-condition-banner {
  font-size: 64px;
  line-height: 88px;
}

.terms-container :nth-child(1) .t-and-c-title {
    font-size: 26px;
}

.terms-and .banner-button {
  display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #FFF;
white-space: nowrap;
margin-top: 2rem;
width: 200px;
align-self: center;
}

.terms-container .t-and-c-title {
    font-size: 20px;
}

.terms-container {
  width: 100%;
  padding: 3rem 5%;
  gap: 20px;
}

.t-and-c-text {
    font-size: 16px;
    line-height: 24px;
}

.estility-text {
  color: #7975B6;
}

.t-andc-subtext {
  font-size: 16px;
  line-height: 30px;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .terms-container {
    padding: 1rem 2%;
  }

  .t-andc-subtext {
    font-size: 14px;
    line-height: 30px;
    margin-top: 1rem;
  }

  .terms-and-condition-banner {
    font-size: 24px;
    line-height: 28px;
  }

  .terms-container :nth-child(1) .t-and-c-title {
    font-size: 20px;
}

.terms-container .t-and-c-title {
    font-size: 18px;
}

.t-and-c-text {
    font-size: 16px;
    line-height: 24px;
}
}